.day {
    width: 82%;
    padding: 23px;
    margin: 0px auto 0px auto;
    display: block;
    background: #FFFFFF;
    color: #000000;
    border-radius: 12px;
    box-shadow: 2px 2px 16px -1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 2px 2px 16px -1px rgba(0, 0, 0, 0.3);
}

body {
    background-color: hsl(0, 0%, 100%);
}

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* input {
    font-family: "Open Sans";
} */

button.fas {
    padding: 4px;
    color: rgba(0, 0, 0, 0.25);
    transition: color 0.2s;
    cursor: pointer;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    text-align: center;
    border: none;
    background: none;
    outline: none;
}

button.fas.fa-check {
    color: hsl(191, 50.8%, 40%);
}

button.fas:hover {
    color: rgba(0, 0, 0, 0.9);
    transition: color 0.1s;
}

div.attribute:hover button.fas.fa-pen {
    color: black;
    transition: color 0.2s;
}

button.fas.fa-pen:hover,
button.fas.fa-check:hover {
    color: hsl(191, 80.8%, 55%) !important;
    transition: color 0.2s;
}

button.fas.fa-times:hover {
    color: hsl(0, 50.8%, 52%) !important;
    transition: color 0.2s;
}

button.fas.fa-trash {
    font-size: 15px;
}

/*button.fas.fa-pen {
	float: right;
}*/

div.buttons {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 75px;
    height: 24px;
    flex-flow: row-reverse;
    cursor: grab;
}

div.buttons.editing {
    cursor: default;
    flex-flow: row;
}

div.sidebar {
    width: 22em;
    height: 100vh;
    box-sizing: padding-box;
    padding: 1em;
    min-width: 25em;
    display: inline-block;
    padding: 1em;
    background-color: hsl(0, 0%, 96%);
}

div.planner {
    display: inline-block;
}

div.attribute {
    margin: 1em 1em 2em 1em;
    border-radius: 0.8em;
    overflow: hidden;
    -webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 8px 8px -1px rgba(0, 0, 0, 0.18);
    transition: box-shadow 0.3s;
    padding: 1em;
    /* width: 100%; */
    box-sizing: border-box;
    min-width: 20em;
    max-width: 35em;
    cursor: grab;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
}

div.attribute-header {
    display: flex;
    align-items: center;
}

div.attribute:hover {
    -webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.46);
    box-shadow: 0px 8px 13px 1px rgba(0, 0, 0, 0.23);
    transition: box-shadow 0.15s;
}

div.attribute.editing {
    /*padding: 1em 0.4em 1em 0.4em;*/
    cursor: auto;
    display: block;
}

div.attribute-short-wrapper {
    border: hsl(0, 0%, 0%) solid 1px;
    border-radius: 50%;
    padding: 0;
    width: 1em;
    height: 1em;
    display: inline-flex;
    align-items: center;
    margin-right: 0.5em;
}

h4.attribute-short {
    margin: auto;
    display: inline-block;
    box-sizing: content-box;
    line-height: 1em;
    font-size: 0.8rem;
    font-family: monospace;
}

h3.attribute-name {
    margin: auto 0.5em auto 0;
    display: inline-block;
    line-height: 1em;
    font-size: 16px;
}

h3.attribute-name:hover {
    /*border-bottom: 0.1em solid black;*/
    /*   box-shadow: inset 0 -1px 0 white, inset 0 -2.1px 0 rgba(0,0,0,0.8);
	text-decoration-skip-ink: auto; */
    text-decoration-skip-ink: auto;
    text-decoration: underline;
    transition: text-decoration 0.1s;
    cursor: pointer;
}

input.attribute-name,
input.attribute-short {
    border: none;
    width: 8em;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    transition: border 0.2s;
    font-size: 1em;
    font-weight: bold;
    padding: 0 0.3em 0.25em 0.3em;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
}

input.attribute-short {
    max-width: 1.4em;
    margin-right: 8px;
}

input.attribute-name:focus,
input.attribute-short:focus {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.7);
    outline-style: none;
    transition: border 0.2s;
}

textarea.attribute-desc {
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    margin-top: 0em;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    height: 4em;
    min-height: 3.5em;
    max-height: 8em;
    padding: 0.5em;
    outline: none;
    transition: border 0.2s;
}

textarea.attribute-desc:focus {
    border-color: rgba(0, 0, 0, 0.7);
    transition: border 0.2s;
}

div.attribute-editing-header {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    cursor: default;
}

div.attribute-desc-wrapper {
    display: inline-block;
    padding: 0;
}

span.attribute-desc {
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 11em;
    display: block;
    line-height: 18px;
    height: 20px;
}

div.attribute:hover span.attribute-desc {
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.2s;
}

hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.09);
}

li {
    display: block;
}


/*========   LOGIN   ========*/

div.login.container {
    background-color: hsl(192, 35%, 91%);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form.login.form {
    background-color: hsl(0, 0%, 100%);
    display: inline-grid;
    /* justify-content: center; */
    /* height: 150px; */
    width: 280px;
    max-height: 400px;
    padding: 2em;
    border-radius: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

input.login {
    margin: 0 0 1em 0;
    padding: 0.75em;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline:none;
    color: hsl(191, 97%, 15%);
    /* box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3); */
}

input.login:focus {
    border: 1px solid hsla(191, 99%, 41%, 0.932);
}

button.login.submit {
    padding: 0.75em;
    border: none;
    border-radius: 6px;
    outline: none;
    background-color: hsl(191, 99%, 41%);
    color: hsl(180, 100%, 97%);
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, color 0.15s;
}

button.login.submit:hover {
    transform: translate(0,-1px);
    color: white;
    transition: transform 0.15s, box-shadow 0.15s, color 0.15s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

button.login.submit:active {
    background-color: hsl(197, 88%, 41%);
    transform: translate(0, 1px);
    transition: transform 0.1s, box-shadow 0.1s, color 0.15s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

div.login.appendix {
    font-style: italic;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    
    padding: 0.5em;
}

h3.login.header {
    /* display: none; */
    margin-top: 0;
    margin-bottom: 0.75em;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: hsl(191, 97%, 15%);
}