body {
    align-content: center;
}

.main {
    /* align-content: center; */
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.sidebar {
    flex: 1;
    background-color: violet;
    padding-left: 1rem;
    padding-right: 1rem;
}

.planner {
    flex: 5
}

.attribute,
.attributes,
.attributes-list,
.day-description,
.day-title {
    display: inline-block;
}

div.day-header {
    padding-bottom: 0.5rem;
}

ul.attributes-list {
    padding-left: 1rem;
    padding-right: 1rem;
}


ul.days-list,
ul.frequent-list,
ul.goal-list,
ul.task-list {
    list-style-type: none;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

ul.task-list {
    padding-left: 0;
}

li.day {
    padding: 1rem;
    /* padding-top: 0.5rem; */
    background-color: lightcyan;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
}

li.day.today {
    border-style: solid;
    border-color: black;
}

li.goal,
li.frequent,
li.task {
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    background-color: lightgray;
    cursor: pointer;
    margin: auto 0.5rem 0.8rem auto;
    display: inline-block;
}

h4.day-title,
p.day-description {
    margin: 0px auto 0px auto;
}

.b-toggle-sidebar {
    float: left;
}