* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Open Sans', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


/* PLANNER Sidebar */


div.planner.sidebar {
    width: 504px;
    height: 100vh;
    box-sizing: border-box;
    padding: 1em;
    /* min-width: 25em; */
    display: inline-block;
    padding: 1em;
    background-color: hsl(198, 49.5%, 96%);
    /* position: fixed; */
    transition: left 0.3s;
    box-sizing: border-box;
    /* margin-right: 1em; */
    box-shadow: 3px 0 8px rgba(0, 0, 0, 0.25);
}

div.planner.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
}

div.planner.sidebar-body {
    padding: 1em;
}

h2.planner.sidebar-header-text {
    justify-self: center;
    margin-left: auto;
}

div.planner.sync-indicator {
    margin-left: auto;
    display: inline-block;
}

button.planner.fas {
    padding: 4px;
    color: rgba(0, 0, 0, 0.25);
    transition: color 0.2s;
    cursor: pointer;
    box-sizing: border-box;
    width: 24px;
    height: 24px;
    text-align: center;
    border: none;
    background: none;
    outline: none;
}

button.planner.fas.fa-check {
    color: hsl(191, 50.8%, 40%);
}

button.planner.fas:hover {
    color: rgba(0, 0, 0, 0.9);
    transition: color 0.1s;
}

div.planner.attribute:hover button.fas.fa-pen {
    color: black;
    transition: color 0.2s;
}

button.fas.fa-pen:hover,
button.planner.fas.fa-check:hover {
    color: hsl(191, 80.8%, 55%) !important;
    transition: color 0.2s;
}

button.planner.fas.fa-times:hover {
    color: hsl(0, 50.8%, 52%) !important;
    transition: color 0.2s;
}

button.planner.fas.fa-trash {
    font-size: 15px;
}

/*bplanner.utton.fas.fa-pen {
	float: right;
}*/

div.planner.buttons {
    margin-left: auto;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 75px;
    height: 24px;
    flex-flow: row-reverse;
    cursor: grab;
}

div.planner.buttons.editing {
    cursor: default;
    flex-flow: row;
}

div.planner.attributes {

}

h3.planner.attributes-header-text {
    margin: 0;
}

div.planner.attribute {
    margin: 0 1em;
    border-radius: 0.8em;
    overflow: hidden;
    /* -webkit-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.46); */
    /* box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25); */
    transition-property: box-shadow;
    transition-duration: 0.3s;
    padding: 1em;
    /* width: 100%; */
    box-sizing: border-box;
    min-width: 20em;
    max-width: 35em;
    cursor: grab;
    background-color: hsl(0, 0%, 100%);
    display: flex;
    align-items: center;
}

div.planner.attribute.add-attribute {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition-property: box-shadow;
    color: rgba(0, 0, 0, 0.8);
}

div.planner.attribute.add-attribute:hover {
    /* transition: color 0.15s; */
}

div.planner.attribute-header {
    display: flex;
    align-items: center;
}

div.planner.attribute:hover {
    /* -webkit-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.46);
    -moz-box-shadow: 0 0 7px 1px rgba(0, 0, 0, 0.46); */
    box-shadow: 0px 2px 6px 1px rgba(0, 0, 0, 0.125);
    transition-duration: 0.2s;
}

div.planner.attribute.editing {
    /*padding: 1em 0.4em 1em 0.4em;*/
    cursor: auto;
    display: block;
}

div.planner.attribute-short-wrapper {
    border: hsl(0, 0%, 0%) solid 1px;
    border-radius: 50%;
    padding: 0;
    width: 1em;
    height: 1em;
    display: inline-flex;
    align-items: center;
    margin-right: 0.5em;
}

h4.planner.attribute-short {
    margin: auto;
    display: inline-block;
    box-sizing: content-box;
    line-height: 1em;
    font-size: 0.8rem;
    font-family: monospace;
}

h3.planner.attribute-name {
    margin: auto 0.5em auto 0;
    display: inline-block;
    line-height: 1em;
    font-size: 16px;
}

h3.planner.attribute-name:hover {
    /*border-bottom: 0.1em solid black;*/
    /*   box-shadow: inset 0 -1px 0 white, inset 0 -2.1px 0 rgba(0,0,0,0.8);
	text-decoration-skip-ink: auto; */
    text-decoration-skip-ink: auto;
    text-decoration: underline;
    transition: text-decoration 0.1s;
    cursor: pointer;
}

input.attribute-name,
input.planner.attribute-short {
    border: none;
    width: 8em;
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    transition: border 0.2s;
    font-size: 1em;
    font-weight: bold;
    padding: 0 0.3em 0.25em 0.3em;
    display: inline-block;
    box-sizing: border-box;
    outline: none;
}

input.planner.attribute-short {
    max-width: 1.4em;
    margin-right: 8px;
}

input.attribute-name:focus,
input.planner.attribute-short:focus {
    border-bottom: 1.5px solid rgba(0, 0, 0, 0.7);
    outline-style: none;
    transition: border 0.2s;
}

textarea.planner.attribute-desc {
    border: 1.5px solid rgba(0, 0, 0, 0.4);
    border-radius: 6px;
    margin-top: 0em;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    box-sizing: border-box;
    height: 4em;
    min-height: 3.5em;
    max-height: 8em;
    padding: 0.5em;
    outline: none;
    transition: border 0.2s;
}

textarea.planner.attribute-desc:focus {
    border-color: rgba(0, 0, 0, 0.7);
    transition: border 0.2s;
}

div.planner.attribute-editing-header {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    cursor: default;
}

div.planner.attribute-desc-wrapper {
    display: inline-block;
    padding: 0;
}

span.planner.attribute-desc {
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.2s;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 11em;
    display: block;
    line-height: 18px;
    height: 20px;
}

div.planner.attribute:hover span.attribute-desc {
    color: rgba(0, 0, 0, 0.7);
    transition: color 0.2s;
}

hr.planner {
    width: 100%;
    height: 1px;
    border: none;
    background-color: rgba(0, 0, 0, 0.09);
}

li.planner {
    display: block;
}

div.planner.error-container,
div.planner.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

div.planner.box {
    background-color: hsl(0, 0%, 100%);
    display: inline-grid;
    /* justify-content: center; */
    height: fit-content;
    width: 280px;
    max-height: 400px;
    padding: 2em;
    border-radius: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
    transition: height 0.2s, width 0.2s;
}

a.planner.link-button {
    text-decoration: none;
    text-align: center;
}

a.planner.link-button:hover {
    /* text-decoration: underline; */
}

p.planner.loading-text {
    color: hsl(192, 20%, 34%);
    font-style: italic;
    text-align: center;
    margin: none;
}

/* background-color: hsl(191, 83%, 81%); */
/* border: solid 1px hsl(191, 73%, 39%); */
/* display: block; */

/* a.planner.link.link-planner,
a.planner.link.link-login {
    padding: 0.75em;
    background-color: white;
    color: hsl(192, 92%, 10%);
    border-radius: 8px;
    border: none;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
} */

i.planner.fas.fa-sync-alt {
    margin-right: 0.25em;
}

/* PLANNER Body */

div.planner.planner-body {
    display: inline-block;
    background-color: hsl(198, 4%, 99%);
    padding: 1em 2em;
    transition: margin 0.2s;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* margin-left: 540px; */
}

button.planner.sidebar-expand {
    display: none;
    position: fixed;
}

div.planner.days {
    margin-left: 100px;
    
}

div.planner.day {
    width: 82%;
    min-width: 400px;
    max-width: 1100px;
    padding: 23px;
    margin: 0px auto 16px auto;
    display: block;
    background: #FFFFFF;
    color: #000000;
    border-radius: 12px;
    transition: box-shadow 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    /* -webkit-box-shadow: 2px 2px 16px -1px rgba(0, 0, 0, 0.3); */
}

div.planner.day:hover {
    transition: box-shadow 0.3s;
    box-shadow: 0 3px 6px 2px rgba(0, 0, 0, 0.2), 0px 3px 2px rgba(0, 0, 0, 0.07);
}

div.planner.day-header {
    margin-bottom: 16px;
}

div.planner.day-body {
    padding: 0;
}

h4.planner.day-date {
    margin: 0 1em 0 0;
    display: inline-block;
}

p.planner.day-description {
    margin: 0;
    display: inline-block;
    font-style: italic;
    color: hsl(192, 20%, 34%);
}

ul.planner.day-tasks {
    margin: 0;
    padding: 0;
    display: flexbox;
}

li.planner.day-task {
    border: 1px solid rgba(0, 0, 0, 0.2);
    transition: border 0.2s;
    border-radius: 6px;
    display: inline-block;
    padding: 4px;
    margin: 4px;
    cursor: pointer;
}

li.planner.day-task.add-task {
    display: inline-block;
    box-sizing: border-box;
    height: 18px;
    width: 18px;
    /* padding: ; */
    /* margin: 4px; */
    cursor: pointer;
    border-radius: 50%;
    border: none;
    transition: box-shadow 0.2s;
    /* padding-top: 100%; */
}

li.planner.day-task.add-task:hover {
    transition: box-shadow 0.2s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

input.planner.add-task-input {
    border:none;
    padding: 0 4px;
    outline: none;
}

li.planner.day-task:hover {
    border-color: rgba(0, 0, 0, 0.4);
    transition: border 0.2s;
}

li.planner.day-task.adding {
    border-color: rgba(0, 0, 0, 0.7);
    /* background-color: red; */
    transition: border 0.1s;
}

/* PLANNER responsive */
@media (max-width: 1280px) {
    div.planner.sidebar {
        position: fixed;
        display: block;
    }

    div.planner.sidebar.hide {
        transition: left 0.2s;
        left: -504px;
    }

    div.planner.sidebar.show {
        transition: left 0.3s;
        left: 0;
        max-width: 100vw;
    }

    button.planner.sidebar-expand {
        display: inline-block;
    }

    div.planner.sidebar.show~div.planner.planner-body {
        transition: margin 0.3s;
    }

    div.planner.sidebar.hide~div.planner.planner-body {
        margin-left: 0;
    }


    /* div.planner.sidebar.show~div. */
}



/*========   LOGIN   ========*/

div.login.container,
div.planner.container {
    background-color: hsl(192, 35%, 91%);
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

form.login.form {
    background-color: hsl(0, 0%, 100%);
    display: inline-grid;
    /* justify-content: center; */
    /* height: 150px; */
    width: 280px;
    max-height: 400px;
    padding: 2em;
    border-radius: 16px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

input.login {
    margin: 0 0 1em 0;
    padding: 0.75em;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    outline: none;
    color: hsl(191, 97%, 15%);
    /* box-shadow: inset 0 2px 2px rgba(0, 0, 0, 0.3); */
}

input.login:focus {
    border: 1px solid hsla(191, 99%, 41%, 0.932);
}

button.login.submit,
a.planner.link-button {
    padding: 0.75em;
    border: none;
    border-radius: 6px;
    outline: none;
    background-color: hsl(191, 99%, 41%);
    color: hsl(180, 100%, 97%);
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.2s, color 0.15s;
}

button.login.submit:hover,
button.login.submit:focus,
a.planner.link-button:hover {
    transform: translate(0, -1px);
    color: white;
    transition: transform 0.15s, box-shadow 0.15s, color 0.15s;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
}

button.login.submit:active,
a.planner.link-button:active {
    background-color: hsl(197, 88%, 41%);
    transform: translate(0, 1px);
    transition: transform 0.1s, box-shadow 0.1s, color 0.15s;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

div.login.appendix {
    font-style: italic;
    font-size: 14px;
    color: hsla(0, 0%, 0%, 0.712);
    /* background-color: hsl(7, 78%, 75%);    */
    padding: 0.5em;
}

h3.login.header {
    /* display: none; */
    margin-top: 0;
    margin-bottom: 0.75em;
    letter-spacing: 1px;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    /* border: 1px solid; */
    color: hsl(191, 97%, 15%);
}
/*========   HOME   ========*/

/* body {height: 100%;} */
div.home.container {
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(7, 7, 7);
    padding: 48px;
}

a.home.huge-header {
    font-weight: 600;
    font-size: 50px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

div.home.header {
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    height: 100px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.46);
    padding: 8px 16px;
    color: hsl(190, 58%, 65%);
    background-color: hsl(202, 33%, 95%);
    /* margin-bottom: 16px; */
    /* border-bottom: 1px solid rgba(0, 0, 0, 0.25); */
}

div.home.body {
    padding-top: 128px;
    background-color: hsl(178, 57%, 91%);
    /* height: 100vh - 128px; */
    height: 700px;
}

div.home.hero {
    background-color: hotpink;
    padding: 1em;
    transform: rotate(-5deg);
    overflow: hidden;
}