<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>daycare</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css">
    <script src="main.js"></script>
    <!-- <script type="text/javascript" src="http://livejs.com/live.js"></script> -->
</head>

<body>
    <div class="main">
        <div class="sidebar">
            <div class="head">
                <h2 class="sidebar-header">daycare</h2>
            </div>
            <div class="sidebar-frequent">
                <h3>frequent</h3>
                <ul class="frequent-list">
                    <li>test</li>
                    <li>test1</li>
                    <li>test2</li>
                    <li>test3tet</li>
                </ul>
            </div>
            <div class="sidebar-lifegoals">
                <h3>lifegoals</h3>
                <ul class="lifegoals-list">
                    <li class="lifegoal">test1</li>
                    <li class="lifegoal">test2</li>
                    <li class="lifegoal">test23</li>
                    <li class="lifegoal">test3</li>
                </ul>
            </div>
        </div>
        <div class="planner">
            <div class="days">
                <ul class="days-list">
                    <li class="day">
                        <div class="day-header">
                            <h4>Monday, 13th of March 2015</h4>
                            <div class="attributes">
                                <ul class="attributes-list">
                                    <li class="attribute">X</li>
                                    <li class="attribute">A</li>
                                </ul>
                            </div>
                            <p class="day-description">Day was very good</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

</html>